// A Sass file that assigns the text color #3D3D3D to the HTML tags body and p. make use of 
//variables

// command to view in terminal- sass 1-color_variable.scss

$main-color: #3D3D3D;

body {
  color: $main-color; 
}

p {
  color: $main-color;
}

